<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type = "button" id = "button">
        モンスターボールを投げる。
    </button>
    <div id ="output">

    </div>
    <div id = "foo"></div>
    <div class = "bar"></div>
    <div class = "bar"></div>
    <div class = "bar"></div>
    <div class = "timeline"></div>
    <div id = "pokemon"></div>
    <script src="./app.js"></script>
</body>
</html>